@media screen and (max-width: 600px) {
    body{
        padding: 0 20px;
    }
    .banner-form form{
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
    }

    .mobile-menu{
        display: block;
    }

    .desktop-menu{
        display: none;
    }
    .banner-content-title{
       font-size: 24px;
    }
    .popular{
        flex-direction: column;
    }
        
    .popular-img{
        width: 335px;
        height: 335px;

    }
    .destination-img{
        display: grid;
        gap: 24px;
        grid-template-columns:  1fr;
        grid-template-areas: 
        "mal"
        "indo"
        "sri"
        "north"
        "kash"
        "bang"
        "band";

    }
    
    
}